
# 1. Không đẩy thư mục thư viện bên ngoài lên GitHub
lib/

# 2. Không đẩy các file cấu hình, dữ liệu tạm
*.json      # File cấu hình JSON
*.jon       # File cấu hình JON

# 3. Không đẩy file build, binary
build/      # Thư mục build
*.exe       # File thực thi
*.dll       # Thư viện động
*.obj       # Object file
*.o         # Object file

# 4. Không đẩy file/thư mục của VS Code
.vscode/

# 5. Không đẩy file log, file tạm
*.log
run_debug.log

# 6. Không đẩy file swap, file user
*.swp
*.user

# 7. Không đẩy file backup, file IDE
files/backup_*
files/
files/*.txt
main
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.DS_Store
.vs/

# 8. Không đẩy file dự án/giải pháp Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# 9. Không đẩy file database/cache của Visual Studio
*.sdf
*.opensdf
.VC.db
.VC.VC.opendb

# 10. Không đẩy file user/cá nhân của Visual Studio
*.suo
*.ncb
*.pdb
*.ipch
*.tlog

# 11. Không đẩy file kết quả test
TestResults/
*.trx

# 12. Không đẩy file cấu hình Makefile
Makefile
app

bin/